<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->
<%- include('./partials/header') %>
<br>
<br>
<div class="container">
<h1>Welcome to your Project Planner!!</h1>
   <br>
   <br>

    <a href="/checklists">View all Projects</a>
  </div>
<%- include('./partials/footer') %>
