<%- include('../partials/header') %>
<div class="container"> 
   <br> 
<h2>Projects List</h2>
<table class=" table table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <% checklists.forEach(function(c) { %>
    <tr>
      <th scope="row"><a type="button" class="btn btn-light" href="/checklists/<%= c.id %>"><%= c.projectName %></a></th>

      <td><form><a class="btn btn-outline-warning" href="/checklists/<%= c.id %>/edit">Edit</a></form></td>

      <td><form action="/checklists/<%= c.id %>?_method=DELETE" method="POST"> <input class="btn btn-outline-danger" type="submit" value="delete"></form></td>

    </tr>
     <% }) %>
  </tbody>
</table>
</div>

<%- include('../partials/footer') %>